In [2]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
import proplot as pplt

<https://www2.census.gov/geo/tiger/TIGER2021/CBSA/>

In [ ]:
# boundary of MSAs with land/water area
msas = gpd.read_file("zip+https://www2.census.gov/geo/tiger/TIGER2021/CBSA/tl_2021_us_cbsa.zip")

In [ ]:
msas

Could also read directly from  <https://www2.census.gov/programs-surveys/popest/tables/2010-2019/metro/totals/cbsa-met-est2019-annres.xlsx>

In [ ]:
# population data at MSA level
pops = pd.read_excel("../data/census/cbsa-met-est2019-annres.xlsx", skiprows=3)

In [ ]:
pops = pops.rename(columns={'Unnamed: 0': 'name'})

In [ ]:
pops.name = pops.name.str.replace('.', '')

In [ ]:
msas = msas.merge(pops[['name', 2017]], left_on='NAMELSAD', right_on='name')

In [23]:
# make sure the 2017 column is converted to string
msas.columns = msas.columns.astype(str)

In [25]:
msas['pop_density'] = msas['2017']/msas['ALAND']

In [28]:
msas = msas[['GEOID', 'name', 'ALAND', 'AWATER', '2017', 'pop_density', 'geometry']]
msas = msas.rename(columns={'2017': 'population'})

In [29]:
msas

,GEOID,name,ALAND,AWATER,population,pop_density,geometry
0,12020,"Athens-Clarke County, GA Metro Area",2654607902,26109459,209106.0,0.000079,"POLYGON ((-83.36003 34.04057, -83.36757 34.043..."
1,12060,"Atlanta-Sandy Springs-Alpharetta, GA Metro Area",22495873026,386782308,5872432.0,0.000261,"POLYGON ((-84.27014 32.99101, -84.27084 32.991..."
2,12100,"Atlantic City-Hammonton, NJ Metro Area",1438775279,301270067,265498.0,0.000185,"POLYGON ((-74.58640 39.30989, -74.58665 39.309..."
3,12220,"Auburn-Opelika, AL Metro Area",1573526818,21516747,161440.0,0.000103,"POLYGON ((-85.16535 32.47097, -85.16725 32.470..."
4,12260,"Augusta-Richmond County, GA-SC Metro Area",9015018014,262412034,600276.0,0.000067,"POLYGON ((-81.65176 33.81451, -81.64701 33.818..."
...,...,...,...,...,...,...,...
380,48660,"Wichita Falls, TX Metro Area",6784839979,143918743,150956.0,0.000022,"POLYGON ((-98.42142 33.46680, -98.42140 33.465..."
381,48700,"Williamsport, PA Metro Area",3182886778,38917581,114012.0,0.000036,"POLYGON ((-76.96023 41.14880, -76.96126 41.145..."
382,48900,"Wilmington, NC Metro Area",2754582846,516637306,289447.0,0.000105,"POLYGON ((-77.67528 34.25313, -77.68032 34.250..."
383,49020,"Winchester, VA-WV Metro Area",2752456889,16817754,138020.0,0.000050,"POLYGON ((-78.34709 39.46601, -78.34704 39.465..."
384,49180,"Winston-Salem, NC Metro Area",5203328303,81529764,666640.0,0.000128,"POLYGON ((-80.04324 36.01076, -80.04324 36.010..."

In [30]:
msas.to_parquet("../data/census/msa_population.parquet")

In [31]:
msas.crs

<Geographic 2D CRS: EPSG:4269>
Name: NAD83
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: North America - onshore and offshore: Canada - Alberta; British Columbia; Manitoba; New Brunswick; Newfoundland and Labrador; Northwest Territories; Nova Scotia; Nunavut; Ontario; Prince Edward Island; Quebec; Saskatchewan; Yukon. Puerto Rico. United States (USA) - Alabama; Alaska; Arizona; Arkansas; California; Colorado; Connecticut; Delaware; Florida; Georgia; Hawaii; Idaho; Illinois; Indiana; Iowa; Kansas; Kentucky; Louisiana; Maine; Maryland; Massachusetts; Michigan; Minnesota; Mississippi; Missouri; Montana; Nebraska; Nevada; New Hampshire; New Jersey; New Mexico; New York; North Carolina; North Dakota; Ohio; Oklahoma; Oregon; Pennsylvania; Rhode Island; South Carolina; South Dakota; Tennessee; Texas; Utah; Vermont; Virginia; Washington; West Virginia; Wisconsin; Wyoming. US Virgin Islands. British Virgin Islands.
- bounds: (167.65, 14.92, -40.73, 86.45)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich