In [1]:
%load_ext autoreload
%autoreload 2

In [9]:
import pandas as pd
from geosnap import DataStore
from seg_networks import generate_network_measures
import os

In [3]:
from tqdm.auto import tqdm

In [5]:
datasets = DataStore()

In [6]:
metros = datasets.msas()[datasets.msas()['type']=='Metro Area']

## Loop over metros and compute network topology metrics

In [11]:
failed = []
with tqdm(total=metros.shape[0]) as t:

    for msa in metros['geoid'].astype(str).tolist():
        if not os.path.exists("../data/graphs/{msa}_graph.graphml"):
            try:
                metrics = generate_network_measures(msa)
                metrics.to_csv(f"../data/{msa}_measures.csv")
            except Exception as e:
                print(f"{msa} failed with {e}")
                failed.append(msa)
            else:
                pass
        t.update(1)

  0%|          | 0/392 [00:00<?, ?it/s]

10380 failed with geosnap does not yet include built-in data for Puerto Rico
11640 failed with geosnap does not yet include built-in data for Puerto Rico
25020 failed with geosnap does not yet include built-in data for Puerto Rico
30980 failed with Server returned
<Response [200]> OK
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" lang="en"/>
  <title>OSM3S Response</title>
</head>
<body>

<p>The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.</p>
<p><strong style="color:#FF0000">Error</strong>: runtime error: open64: 0 Success /opt/osm3s/db/nodes_meta.bin.idx File_Blocks_Index: Data file size does not match block size </p>

</body>
</html>

32420 failed with geosnap does not yet include built-in data for Puerto Rico
38660 failed with geosnap does not yet include built-in data for Puerto Rico
41900 failed with geosnap does not yet include built-in data for Puerto Rico
41980 failed with geosnap does not yet include built-in data for Puerto Rico
49500 failed with geosnap does not yet include built-in data for Puerto Rico

In [12]:
import osmnx as ox

In [13]:
test_graph = ox.io.load_graphml("../data/graphs/47900_graph.graphml")

In [15]:
n,e= ox.utils_graph.graph_to_gdfs(test_graph, geometry=False)

In [16]:
n

,y,x,street_count,highway,ref,geometry
osmid,,,,,,
208546913,38.189187,-77.428590,3,NaN,NaN,POINT (-77.42859 38.18919)
208546922,38.190285,-77.430699,3,NaN,NaN,POINT (-77.43070 38.19029)
208631866,38.093582,-77.532846,1,NaN,NaN,POINT (-77.53285 38.09358)
209859005,38.401309,-77.681952,3,NaN,NaN,POINT (-77.68195 38.40131)
209859112,38.407395,-77.673617,3,NaN,NaN,POINT (-77.67362 38.40740)
...,...,...,...,...,...,...
8882268520,39.285654,-77.965159,1,NaN,NaN,POINT (-77.96516 39.28565)
8882439730,39.322645,-77.977525,3,NaN,NaN,POINT (-77.97753 39.32264)
8882439739,39.322922,-77.977268,3,NaN,NaN,POINT (-77.97727 39.32292)
9034457800,39.282190,-78.013433,1,NaN,NaN,POINT (-78.01343 39.28219)
9686362324,39.280048,-78.014256,1,NaN,NaN,POINT (-78.01426 39.28005)

In [23]:
e= e.reset_index()

In [29]:
e

,u,v,key,osmid,ref,name,highway,maxspeed,oneway,reversed,...,geometry,service,lanes,bridge,access,width,tunnel,junction,area,landuse
0,208546913,208546922,0,19882554,SR 668,Summit Crossing Road,tertiary,35 mph,False,False,...,"LINESTRING (-77.42859 38.18919, -77.42879 38.1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,208546913,6514942735,0,693906930,NaN,NaN,service,10 mph,False,False,...,"LINESTRING (-77.42859 38.18919, -77.42868 38.1...",driveway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,208546922,6514919623,0,19882554,SR 668,Summit Crossing Road,tertiary,35 mph,False,False,...,"LINESTRING (-77.43070 38.19029, -77.43077 38.1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,208546922,208546913,0,19882554,SR 668,Summit Crossing Road,tertiary,35 mph,False,True,...,"LINESTRING (-77.43070 38.19029, -77.43038 38.1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,208546922,5470543039,0,568648722,NaN,Arlene Acres Drive,residential,NaN,False,True,...,"LINESTRING (-77.43070 38.19029, -77.43159 38.1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2206127,8882439739,4597902335,0,464707694,NaN,NaN,service,NaN,False,False,...,"LINESTRING (-77.97727 39.32292, -77.97710 39.3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2206128,8882439739,8882439730,0,464707694,NaN,NaN,service,NaN,False,True,...,"LINESTRING (-77.97727 39.32292, -77.97753 39.3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2206129,8882439739,8882439730,1,960039366,NaN,NaN,service,NaN,False,True,...,"LINESTRING (-77.97727 39.32292, -77.97724 39.3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2206130,9034457800,9034457793,0,976254709,NaN,NaN,service,NaN,False,True,...,"LINESTRING (-78.01343 39.28219, -78.01352 39.2...",driveway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2206131,9686362324,9686362321,0,1054038148,NaN,Triple Crown Court,residential,NaN,False,True,...,"LINESTRING (-78.01426 39.28005, -78.01494 39.2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
import pandana as pdna

In [31]:
test_network = pdna.Network(edge_from=e['u'], edge_to=e['v'], edge_weights=e[['length']], node_x=n['x'], node_y=n['y'])

Generating contraction hierarchies with 10 threads.
Setting CH node vector of size 824502
Setting CH edge vector of size 2206132
Range graph removed 2277688 edges of 4412264
. 10% . 20% . 30% . 40% . 50% . 60% . 70% . 80% . 90% . 100%

In [32]:
test_network.nodes_df

                    x          y
osmid
208546913  -77.428590  38.189187
208546922  -77.430699  38.190285
208631866  -77.532846  38.093582
209859005  -77.681952  38.401309
209859112  -77.673617  38.407395
...               ...        ...
8882268520 -77.965159  39.285654
8882439730 -77.977525  39.322645
8882439739 -77.977268  39.322922
9034457800 -78.013433  39.282190
9686362324 -78.014256  39.280048

[824502 rows x 2 columns]

In [33]:
test_network.edges_df

               from          to   length
0         208546913   208546922  222.554
1         208546913  6514942735  314.254
2         208546922  6514919623    6.926
3         208546922   208546913  222.554
4         208546922  5470543039  414.254
...             ...         ...      ...
2206127  8882439739  4597902335   24.646
2206128  8882439739  8882439730   37.889
2206129  8882439739  8882439730   64.094
2206130  9034457800  9034457793   85.895
2206131  9686362324  9686362321  119.963

[2206132 rows x 3 columns]

In [21]:
pdna.Network?

Init signature: pdna.Network(node_x, node_y, edge_from, edge_to, edge_weights, twoway=True)
Docstring:
Create the transportation network in the city.  Typical data would be
distance based from OpenStreetMap or travel time from GTFS transit data.

Parameters
----------
node_x : Pandas Series, float
    Defines the x attribute for nodes in the network (e.g. longitude)
node_y : Pandas Series, float
    Defines the y attribute for nodes in the network (e.g. latitude)
    This param and the one above should have the *same* index which
    should be the node_ids that are referred to in the edges below.
edge_from : Pandas Series, int
    Defines the node id that begins an edge - should refer to the index
    of the two series objects above
edge_to : Pandas Series, int
    Defines the node id that ends an edge - should refer to the index
    of the two series objects above
edge_weights : Pandas DataFrame, all numerics
    Specifies one or more *impedances* on the network which define the
    distances between nodes.  Multiple impedances can be used to
    capture travel times at different times of day, for instance
twoway : boolean, optional
    Whether the edges in this network are two way edges or one way (
    where the one direction is directed from the from node to the to
    node). If twoway = True, it is assumed that the from and to id in the
    edge table occurs once and that travel can occur in both directions
    on the single edge record. Pandana will internally flip and append
    the from and to ids to the original edges to create a two direction
    network. If twoway = False, it is assumed that travel can only occur
    in the explicit direction indicated by the from and to id in the edge
    table.
File:           ~/mambaforge/envs/seg_networks/lib/python3.9/site-packages/pandana/network.py
Type:           type
Subclasses:

In [ ]:
ox.stats.